<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
</head>
<body>

  <a href="http://localhost:3333/produtos/novo">Novo</a>
  @if(produtos && produtos.length > 0)
  <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col">Categoria</th>
              <th scope="col">Editar</th>
             <th scope="col">Deletar</th>
            </tr>
          </thead>
          <tbody>
            @each(produto in produtos)
            <tr>
             <td>{{produto.Id}}</td>
             <td>{{produto.nome}}</td>
             <td>{{produto.preco}}</td>
             <td>{{produto.categoria}}</td>
             <td>Editar</td>
             <td>Deletar</td>
            </tr>
          </tbody>
        @endeach
        </table>
         @else
          <h2>Não há produtos cadastrados!</h2>
      @endif
  
</body>
</html>